@font-face {
    font-family: "Lobster-Regular" ;
    src: url(font/Lobster-Regular.ttf);
}
.wrapper {
    width: 100%;
    background-color: #ffffff;
    color: #808080;
}

.wrapper h1 {
    color: #000000;
    text-align: center;
}

#description p {
    color: #808000;
    text-align: center;
    font-family: "Lobster-Regular";   
}

section {
    padding: 0;
    text-align:center;
}

#pictures {
    float: left;
    width: 50%;
    background: #808080;
}

#about {
    float: left;
    width: 50%;
    background: black;
}
.column {
    width: 48%;
    min-height: 100%;
    display: inline-block;
    padding-top: 5px;
  }

.sphoto {
    width: 100%;
    height: 100%;
}

.lphoto {
    width: 100%;
    height: 150%;
}

#logo_links {
    clear: both;
    border-top: 5px #000000 solid;
}

#logo_links h3 {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.fimg {
    width: 150px;
    height: 150px;
    border: 3px #808080 solid;
    margin: 20px 125px;
}

#logo_links .fimg:hover {
    border: 3px #00008b solid;
}